body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

#produk-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

.produk-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.produk-gambar {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
}

.produk-nama {
    font-size: 1.5rem;
    color: #333;
}

.produk-deskripsi {
    color: #666;
    font-size: 1rem;
}
